*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}



body{
    background-image: linear-gradient(yellow, blue,black);
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.container img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.container h1{
    color: BLUE;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}



.container h3{
    color:green;
    text-align: center;
    font-size: 15px;
}

.container p{
    color: white;
    font-size: 15px;
    font-weight: bolder;

}

.text{
    margin-right: 50px;
    line-height: 1.7rem;
}

.container_services{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20px;
    
}


.container_services h1 {
    color: white;
    font-size: 15px;
}


#ser{
    text-align: center;
    color: yellow;
    font-size: 15px;
    margin-top: 10px;
}


.container_table{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.container_table h4{
    color: orange;
    margin-top: 20px;
    font-size: 15px;
}

.container_table p{
    line-height: 1.5rem;
}


#mtn{
    color: yellow;
}


#airtel{
    color: red;
}


#glo{
    color: green;
}

#mobile{
    color: deep green;
}
.footer{
    display: flex;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    justify-content: space-evenly;
}


.footer h1 {
    color: blue;
    font-size: 17px;
}

.footer p{
    color: steelblue;
}








@media(max-width:320px){
    .container h1{
        font-size: 14px;
        margin-left: 60px;

    }
    .container img{
       display: none;
    }
    .container p{
        margin-left: 50px;
        color: black;
        font-weight: bolder;
        line-height: 1.2rem;
        font-size: 15px;
        text-transform: uppercase;
    }
    .container h3{
        font-size: 14px;
        margin-left: 50px;
        line-height: 1.2rem;
    }


    #spn{
        color: blue;
        margin-left: 50px;
    }





    .container_services h1{
        font-size: 10px;
        line-height: 1.2rem;
    }

    .container_table h4{
        font-size: 10px;
        line-height: 1.2rem;
    }

    .container_table p{
        font-size: 10px;
        line-height: 1.2rem;
    }

    .footer h1{
        font-size: 10px;
        line-height: 1.2rem;
    }

    .footer p{
        font-size: 10px;
    }

    .footer{
        width: 100%;
    }

   
}




@media(max-width:640px){
    .container p{
        margin-left: 50px;
        color: black;
        font-weight: bolder;
        line-height: 1.2rem;
        font-size: 15px;
        text-transform: uppercase;
    }
    #spn{
        color: blue;
        margin-left: 50px;
    }
   

}




@media(max-width:920px){
    .container p{
        margin-left: 50px;
        color: black;
        font-weight: bolder;
        line-height: 1.2rem;
        font-size: 15px;
        text-transform: uppercase;
    }
    #spn{
        color: blue;
        margin-left: 50px;
    }
    

}



@media(min-width:1020px){
    .container p{
        margin-left: 50px;
        color: black;
        font-weight: bolder;
        line-height: 1.2rem;
        font-size: 20px;
        text-transform: uppercase;
    }
    #spn{
        color: blue;
        margin-left: 50px;
    }
    .footer{
        width: 100%;
        padding: 20px;
        margin-top: 150px;
    }
    .text h1{
        font-size: 20px;
    }
}
